body {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
} 

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.menuitem{
    flex: 1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: .9em;
}

.title {
    font-size: 1.3em;
    color: lightgoldenrodyellow;
}
.content{
    flex: 1;
    padding: 7px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.emptyText {
    padding-top: 20px;
    text-align: center;
}

.completed {
    text-decoration: line-through;
}

.todoitem{
    height: 40px;
    border-radius: 5px;
    background-color: #f1c40f;
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    min-height: 40px;
    cursor: pointer;
}

.todotext {
    flex: 1;
}

.todoremove {
    width: 30px;
    cursor: pointer;
    font-size: 1.4em;
}

.footer{
    height: 40px;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    margin: 10px;  
}

.footer input {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding-left: 10px;
    border: 2px solid #f1c40f;
    border-radius: 10px;
    outline: none;
}