body {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
} 

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.menuitem{
    flex: 1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: .9em;
}

.title {
    font-size: 1.3em;
    color: lightgoldenrodyellow;
}
.content{
    flex: 1;
    padding: 7px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.emptyText {
    padding-top: 20px;
    text-align: center;
}

.completed::before {
    content: '✔';
}

.todoitem{
    height: 50px;
    border-radius: 5px;
    background-color: #f1c40f;
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    cursor: pointer;
}

.status{
    width: 30px;
    text-align: center;
}

.todo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.todotitle {
    font-size: .9em;
    font-weight: bold;
}

.tododetails {
    font-size: .8em;
}

.todoremove {
    width: 30px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
}

.footer{
    height: 90px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border: 2px solid #f1c40f;
    border-radius: 5px;
}

.footer input {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding-left: 10px;
    outline: none;
    border: none;
}

.addform{
    display: flex;
    margin: 10px;
    flex-direction: column;
}

.formsubmitbtn{
    text-align: right;
    color: lightskyblue;
    font-weight: bold;
}

.addform button{
   height: 30px;
   background-color: cornflowerblue;
   color: white;
   font-size: 1em;
   font-weight: bold;
   border-radius: 20px;
   outline: none;
   width: 200px;
   font-family: 'Courier New', Courier, monospace;
   align-self: center;
}

.todos-enter {
    opacity: 0.01;
  }
  
.todos-enter.todos-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.todos-leave {
    opacity: 1;
}

.todos-leave.todos-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}